:root {
  --contexify-zIndex: 666;
  --contexify-menu-minWidth: max-content;
  --contexify-menu-padding: 0;
  --contexify-menu-radius: 6px;
  --contexify-menu-bgColor: #A8DADC;
  --contexify-menu-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1),
    2px 4px 4px rgba(0, 0, 0, 0.1), 3px 6px 6px rgba(0, 0, 0, 0.1);
  --contexify-menu-negatePadding: var(--contexify-menu-padding);
  --contexify-separator-color: rgba(0, 0, 0, 0.2);
  --contexify-separator-margin: 5px;
  --contexify-itemContent-padding: 6px;
  --contexify-activeItem-radius: 4px;
  --contexify-item-color: transparent;
  --contexify-activeItem-color: transparent;
  --contexify-activeItem-bgColor: transparent;
  --contexify-rightSlot-color: transparent;
  --contexify-activeRightSlot-color: transparent;
  --contexify-arrow-color: transparent;
  --contexify-activeArrow-color: transparent;
}

.contexify_item {
    display: inline-block;
}
